{% extends 'base.html.twig' %}

{% block body %}
    {% for article in articles %}
        {{ article.name }} - {{ article.description }} - {{ article.createdAt|date('Y-m-d H:i:s') }}
        <br>
    {% endfor %}
    <br>
    <a href="{{ path('create') }}">create</a>
{% endblock %}
